.form {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.form h1 {
  margin: 30px 0;
}

.form .group {
  width: 300px;
  margin-bottom: 14px;
  text-align: left;
}

.form input {
  padding: 8px 6px;
  width: 276px;
  display: flex;
  flex-direction: column;
  outline: none;
}

.form button {
  width : 290px;
  background-color: #0071c2;
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 8px 0;
}

.form .error {
  color: #ea4a4a;
  font-size: 12px;
  /* margin-bottom: 10px; */
  font-style: italic;
}