.App {
  padding: 0 50px;
}

.navbar {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #6541ff;
  text-align: center;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 3px 6px;
  border-radius: 2px;
  color: #fff;
}

.btn + .btn {
  margin-left: 6px;
}

.btn-edit {
  background-color: #22dd95;
}

.btn-destroy {
  background-color: #de755b
}

.btn-action {
  background-color: #068282;
  border-radius: 8px;
}
.btn-large {
  padding: 8px 18px;
}
